/**
 * @file
 * @author Hampus Nordin <nordin.hampus@gmail.com>
 * 
 * Admin styles for Date popup Allowed Dates.
 * 
 * Last built: #{timestamp()}
 * 
 */

.date-popup-allowed-dates-stop-time-for-today {
  .form-item {
    float: left;
    margin-right: 1em;
    padding: 0;

    label {
      font-weight: 400;
    }

    & + .form-item {
      float: none;
      margin-right: 0;
    }
  }
}
