/**
 * @file
 * @author Hampus Nordin <nordin.hampus@gmail.com>
 * 
 * Admin styles for Date popup Allowed Dates.
 * 
 * Last built: 2014-08-26 11:38:46 +0200
 * 
 */
.date-popup-allowed-dates-stop-time-for-today .form-item {
  float: left;
  margin-right: 1em;
  padding: 0; }
  .date-popup-allowed-dates-stop-time-for-today .form-item label {
    font-weight: 400; }
  .date-popup-allowed-dates-stop-time-for-today .form-item + .form-item {
    float: none;
    margin-right: 0; }
